<div class="logo-container">
  <img src="logo.png" alt="logo" />
</div>
<ul>
  <li>
    <app-button-link id="Projects" link="#">
      <app-svg-icon name="nav/projects" />
    </app-button-link>
  </li>
  <li>
    <app-button-link id="Configurations" link="#">
      <app-svg-icon name="configurations" />
    </app-button-link>
  </li>
  <li>
    <app-button-link id="Members" link="#">
      <app-svg-icon name="members" />
    </app-button-link>
  </li>
  <li>
    <app-button-link id="History" link="#">
      <app-svg-icon name="nav/history" />
    </app-button-link>
  </li>
  <li>
    <app-button-link id="Settings" link="#">
      <app-svg-icon name="nav/settings" />
    </app-button-link>
  </li>
</ul>
