<div class="logo-container">
  <img src="logo.png" alt="logo" />
</div>
<ul>
  <li>
    <app-button-link id="Projects" link="#" iconName="members"></app-button-link>
  </li>
  <li>
    <app-button-link id="Configurations" link="#" iconName="members"></app-button-link>
  </li>
  <li>
    <app-button-link id="Members" link="#" iconName="members"></app-button-link>
  </li>
  <li>
    <app-button-link id="History" link="#" iconName="members"></app-button-link>
  </li>
  <li>
    <app-button-link id="Settings" link="#" iconName="members"></app-button-link>
  </li>
</ul>
