<div class="project boxshadow-1px-black">
  <h2>Projectname</h2>
  <p>Some descripotion</p>
  <div class="project-details">
    <app-detail>
      <app-svg-icon name="configurations" width="1.5rem" height="1.5rem" />
    </app-detail>
    <app-detail>
      <app-svg-icon name="members" width="1.5rem" height="1.5rem" />
    </app-detail>
    <app-detail>
      <app-svg-icon name="warning" width="1.5rem" height="1.5rem" />
    </app-detail>
    <app-detail>
      <app-svg-icon name="warning" width="1.5rem" height="1.5rem" />
    </app-detail>
  </div>
</div>
