<section class="members-widget boxshadow-1px-black">
  <h2>Members</h2>
  <div class="members-widget-search">
    <app-search placeholder="Search member" [alternativeColoring]="true"></app-search>
  </div>
  <table class="members-widget-members">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="member-avatar-wrapper"><img src="avatar.png" alt="Member's avatar" /></div>
        </td>
        <td>Olivier Xavier</td>
        <td>oliver&commat;example.com</td>
        <td>Admin</td>
      </tr>
      <tr>
        <td>
          <div class="member-avatar-wrapper"><img src="avatar.png" alt="Member's avatar" /></div>
        </td>
        <td>Olivier Xavier</td>
        <td>oliver&commat;example.com</td>
        <td>Admin</td>
      </tr>
      <tr>
        <td>
          <div class="member-avatar-wrapper"><img src="avatar.png" alt="Member's avatar" /></div>
        </td>
        <td>Olivier Xavier</td>
        <td>oliver&commat;example.com</td>
        <td>Admin</td>
      </tr>
      <tr>
        <td>
          <div class="member-avatar-wrapper"><img src="avatar.png" alt="Member's avatar" /></div>
        </td>
        <td>Olivier Xavier</td>
        <td>oliver&commat;example.com</td>
        <td>Admin</td>
      </tr>
    </tbody>
  </table>
  <nav class="members-widget-pagination">
    <p>1-5 out of 15 entries</p>
    <ul class="members-widget-pagination__buttons">
      <li class="control-left">Prev</li>
      <li class="number">1</li>
      <li class="number selected">2</li>
      <li class="number">3</li>
      <li class="number">4</li>
      <li class="control-right">Next</li>
    </ul>
  </nav>
</section>
