:host {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 35%;
  background-color: var(--color-main-fg);
}

.login-form__heading {
  margin-bottom: 25px;
  width: 100%;
  text-align: center;
}

.login-form__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;

  padding-left: 10px;
  width: 100%;
}

.login-form__sign-up {
  color: var(--color-text-default);
  font-size: 0.85rem;
  line-height: 1.2rem;
}

.login-form__sign-up-link {
  font-weight: 500;
  color: var(--color-text-link);
}

.login-form__sign-up-link:hover {
  color: var(--color-text-link--hover);
}

.login-form__submit {
  display: flex;
  align-items: center;
  padding: 10px 16px;

  height: 44px;
  border: none;
  border-radius: 6px;

  color: var(--color-text-dark);
  font-size: 0.9rem;
  font-weight: 500;

  background-color: var(--color-misc-crystal);
  box-shadow: 1px 1px 2px #000;

  cursor: pointer;
  transition: ease-out 0.2s all;
}

.login-form__submit:hover {
  background-color: var(--color-misc-crystal--dark);
}
