:host {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  align-items: center;
  padding: 21px;

  width: 100%;
  height: 116px;
  background-color: var(--color-main-bg);
}

.header-content-container {
  width: 100%;
  height: 100%;
  color: var(--color-text-heading);
}

.header-content-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: span 8;
}

.header-content-search form {
  margin-left: 10px;
  padding: 8px;
  display: flex;
  align-items: center;

  flex: 1 1 100%;
  height: 52px;

  border-radius: 8px;
  background-color: var(--color-main-fg);
  transition: ease-out 0.2s background-color;
}

.header-content-search form:hover {
  background-color: var(--color-search-bar-hover);
}

.header-content-search form button,
.header-content-search form input {
  padding: 0;
  margin: 0;
  border: none;

  color: var(--color-text-input);
  background-color: transparent;
}

.header-content-search form button {
  display: flex;
  margin-right: 12px;
}

.header-content-search form input {
  font-size: 1rem;
  line-height: 1.5;
  outline: none;
}

.header-content-profile {
  display: flex;
  justify-content: right;
  align-items: center;
  grid-column: span 4;
}

.header-content-profile > * {
  margin-left: 20px;
}

.notification-counter {
  position: absolute;
  right: 0;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 18px;
  height: 18px;

  font-size: 0.65rem;
  background-color: var(--color-notification-counter);
  border-radius: 50%;
  box-shadow: -1px 1px 0 0 var(--color-main-bg);
}

.avatar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
}

.avatar-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile-name {
  max-width: 250px;
  color: var(--color-text-input);

  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
