:host {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  width: 100%;
  background-color: var(--color-main-bg);
}

.header {
  display: flex;
  align-items: center;

  flex-basis: 100%;
  height: 116px;
  color: var(--color-text-heading);
}

.header-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-profile {
  display: flex;
  justify-content: right;
  align-items: center;
  grid-column: span 4;
}

.header-profile > * {
  margin-left: 20px;
}

.header-profile__notification-counter {
  position: absolute;
  right: 0;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 18px;
  height: 18px;

  font-size: 0.65rem;
  background-color: var(--color-notification-counter);
  border-radius: 50%;
  box-shadow: -1px 1px 2px 0 var(--color-main-bg);
}

.header-profile__avatar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  min-width: 44px;
  height: 44px;
  min-height: 44px;
}

.header-profile__avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.header-profile__name {
  max-width: 250px;
  line-height: 1.2;
  color: var(--color-text-input);

  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
